<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>Um pouco sobre mim!</h2>
            <p>Qualquer um pode escrever um código que o computador entenda. Bons programadores escrevem códigos que os humanos entendam.</p>
            <p>Faça como um programador. Quando tudo está errado e confuso, apague tudo e recomece do zero.</p>
            <p>Uma linguagem não faz seu código ser bom, programadores bons fazem seu código ser bom.</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="img/profile-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Desenvolvedor Full-Stack</h3>
                <p class="fst-italic">
                    Algumas informações legais que talvez façam você gostar o suficiente para me contratar.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Aniversario:</strong> <span>20 de julho de 2005</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>linkedin:</strong> <span><a href="https://www.linkedin.com/in/miguel-oliveira-129549225/" target="_blank">Aqui</a></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Discord:</strong> <span><a href="https://discord.gg/FZpH3SZahH" target="_blank">Aqui</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>