.card {
    border-radius: 10px;
    background-color: #FAF3F0 !important;
}
.card > * .form-control {
    background-color: transparent !important;
}
.card-custom {
    min-height: 250px;
    border: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}
@media (min-width: 1350px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
.me-10{
    margin-right: 10rem;
}