.card {
    border-radius: 10px;
    background-color: #FAF3F0 !important;
}
.card > * .form-control {
    background-color: transparent !important;
}
.card-custom {
    min-height: 250px;
    border: none;
}
.cards, .cards-home {
    display: grid;
    grid-gap: 1rem;
    animation: slideIn 0.7s ease-in-out;
}

.cards {
    grid-template-columns: repeat(1, 1fr);
}

.cards-home {
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1500px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-home {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1400px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-home {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1050px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .cards-home {
        grid-template-columns: repeat(1, 1fr);
    }
}
.me-10{
    margin-right: 10rem;
}


@keyframes slideIn {
    0% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}