@using migueloliveiradev.Models.Me;
@model About
<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <h2>@Model?.Title</h2>
        </div>
        <div class="row">
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <p class="fst-italic">@Model?.Description</p>
            </div>
        </div>
    </div>
</section>