@using migueloliveiradev.Models.Works.Projetos;
@model List<Projeto>
@{
    Layout = "_LayoutDashboard";
}
<style>

   

    .technologies {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 1rem;
    }

    .technologies span {
        margin-left: 3px;
        width: 60px;
        height: 25px;
        line-height: 1.3;
    }

</style>
<link rel="stylesheet" href="~/css/dashboard/cards.css" />
<div class="cards flex-column ">
    @{
        for (int i = 0; i < 6; i++)
        {
            <div class="card position-relative shadow-sm border-0">
                <div class="card-body d-flex flex-row">
                    <div class="flex-grow-1">
                        <h5 class="card-title">Projeto</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Projeto subtitulo teste bla bla bla</h6>
                        <div>
                            Projeto descrição teste bla bla bla bla
                        </div>
                        <div>
                            <a href="#" class="card-link">Url</a>
                            <a href="#" class="card-link">Github</a>
                            <a href="#" class="card-link">Linkedin</a>
                        </div>
                    </div>
                    <div class="position-absolute top-0 end-0 m-3">
                        <div class="d-flex flex-column">
                            <a href="#" class="btn btn-primary my-1">Editar</a>
                            <a href="#" class="btn btn-primary my-1">Editar Imagens</a>
                            <button type="button" class="btn btn-primary my-1" data-bs-toggle="modal" data-bs-project-id="@i" data-bs-target="#modalEditTechnologies">
                                Editar Tecnologias
                            </button>
                            <a href="#" class="btn btn-primary my-1">Excluir</a>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 start-0 m-3">
                        <div class="technologies">
                            <span class="badge bg-secondary">C#</span>
                            <span class="badge bg-secondary">HTML</span>
                            <span class="badge bg-secondary">CSS</span>
                        </div>
                    </div>
                    <div class="position-absolute bottom-0 end-0 m-3">
                        <div class="informacoes">20/02/2023 - 30/03/2023</div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="position-absolute top-3 end-0 m-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Adicionar
    </button>
</div>
<!-- Modal -->
<partial name="Components\Dashboard\Project\AddProject.cshtml" model="null" />
<partial name="Components\Dashboard\Project\EditTechnologies.cshtml" model="null" />