
@{
    Layout = "_LayoutDashboard";
    ViewData["title"] = "Serviços";
}
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%; background-color: #000814 !important;">
    <p class="navbar-brand text-light p-0 m-3">Servicos disponiveis</p>
</nav>
<div class="m-3">

</div>