@using migueloliveiradev.Models.Me;
@model About
@{
    Layout = "_LayoutDashboard";
}
<div class="mt-4">
    <from>
        <div class="form-floating ">
            <input class="form-control" asp-for="Title" placeholder="Escreva um titulo aqui." id="floatingTextarea1"></input>
            <label for="floatingTextarea1">Titulo</label>
        </div>
        <div class="form-floating mt-2">
            <textarea class="form-control" asp-for="Description" placeholder="Escreva uma descrição aqui." id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Descrição</label>
        </div>
        <div class="ms-auto">
            <button type="submit" class="btn btn-primary mt-2">Salvar</button>
        </div>
    </from>
</div>