@using migueloliveiradev.Models.Works;

@model Technology
@{
}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Adicionar Tecnologia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Create" asp-controller="Technology" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input asp-for="Nome" type="text" required class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tipo da imagem</label>
                        <select class="form-control" asp-for="TypeIcon">
                            <option value="FontAwesome">Font Awesome</option>
                            <option value="Svg">Svg</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Class Icon</label>
                        <input asp-for="Icon" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Arquivo SVG</label>
                        <input name="svg" type="file" accept="image/svg" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Url da Tecnologia</label>
                        <input asp-for="Url" type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>