@using migueloliveiradev.ViewsModel;
@model HomeViewModel
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Miguel Oliveira - Desenvolvedor Full Stack</title>
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
</head>
<body>
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light">Miguel Oliveira</h1>
                <partial name="/Views/Home/Components/SocialLinks.cshtml" model="@Model.SocialNetworks" />
           </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul class="w-100">
                    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre</span></a></li>
                    <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resumo</span></a></li>
                    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                    <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
                    <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" id="main" class="main-home pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
