@using migueloliveiradev.Models.Works;
@model Skill
@{
}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Adicionar Skill</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Create" asp-controller="Skill" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input asp-for="Nome" type="text" required class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Porcentagem de conhecimento</label>
                        <input asp-for="Percentage" type="range" class="form-range" min="0" max="100" step="10" value="0">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Class Icon</label>
                        <input asp-for="Icon" required type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>